<%- include('../partials/header.ejs') %>

    <!-- Main Content Section -->
    <main class="main-content">
        <div class="seperator"></div>
        <div class="main-items-all">
            <div class=main-items-text>
                <h1>Browse Cards</h1>
            </div>
            <%if(listings.length) {%>
                <%listings.forEach(listing=>{%>
                    <div class="cards-big-container">
                        <div class="cards-container-item">
                            <a href="/listings/<%=listing.id %>">
                                <img src="<%=listing.image %>" alt="Listing Image">
                            </a>
                            <p>
                                <%= listing.name%>
                            </p>
                            <p>
                                <%= listing.quality%>
                            </p>
                            <p>
                                $<%= listing.price%>
                            </p>
                            <p>
                                <%= listing.numOffers%> Offer(s)
                            </p>
                        </div>
                    </div>
                    <% }) } else {%>
                        <p>No Listings</p>
                        <%}%>
        </div>

    </main>

    <%- include('../partials/footer.ejs') %>